<div class="container">
    <div class="card">

        <div class="card-header font-weight-bold">All Listings <br> {{childInfo}}</div>
        <div class="card-body">
            
            <div class="row">
                <button class="col-2 btn btn-primary ml-3 mb-4 mr-3" (click)="onShowIDClicked()">{{showID?'Hide':'Show'}} ID</button>
                
                <input type="text" [(ngModel)]="searchTerm" class="form-control col-4 ml-auto mb-4 mr-2">
                
                <button class="col-2 btn btn-primary ml-auto mb-4 mr-3" (click)="onSearchClicked()"> Search</button>

                <button class="col-2 btn btn-primary ml-auto mb-4 mr-3" (click)="onAdd()"> Add</button>
            </div>

            <table *ngIf="houses && houses.length > 0" class="table-striped" cellspacing="50">
                <thead>
                    <tr>
                        <!-- <th *ngIf="showID">Property ID</th> -->
                        <th>Image</th>
                        <!-- <th>Property Address</th> -->
                        <th>Listing Price</th>
                        <th>Available Date</th>
                        <th>Rating</th>
                        <!-- <th>Num of Bedrooms</th> -->
                        <th>Num of Bathrooms</th>
                        <th>Contact Phone</th>
                        <!-- <th>Description</th> -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <ng-container *ngFor="let house of houses | filtering : searchTerm"> -->
                    <ng-container *ngFor="let house of searchResult">
                        <tr>
                            <!-- <td *ngIf="showID">{{house.id}}</td> -->
                            <td><img [src]="house.imageUrl" [alt]="house.id"></td>
                            <!-- <td>{{house.address | titlecase}}</td> -->
                            <td>{{house.listingPrice | currency}}</td>
                            <td>{{house.availableDate | MoveDayToEndPipe}}</td>
                            <td> {{house.rating}}<lm-star [rating]="house.rating" [id]="house.id" (childEvent)='onChildEvent($event)'></lm-star></td>
                            <!-- <td>{{house.numOfBedroom}}</td> -->
                            <td> {{house.numOfBathroom}}<lm-toilet [count]=house.numOfBathroom></lm-toilet></td>
                            <td><a href="tel:{{house.contactPhone}}">{{house.contactPhone | phone: 'US'}}</a></td>
                            <!-- <td>{{house.description}}</td> -->
                            <td><button class="btn btn-secondary" [routerLink]="['/houses', house.id]">View</button></td>
                        </tr>
                        
                    </ng-container>
                </tbody>
            </table>
        </div>



    </div>
</div>