<div class="container">
    <div class="card">

        <div class="card-header font-weight-bold">All Listings</div>
        <div class="card-body">
            <button class="btn btn-primary" (click)="onShowIDClicked()">{{showID?'Hide':'Show'}} ID</button>
            <table *ngIf="houses && houses.length > 0" class="table-striped" cellspacing="50">
                <thead style="background-color: lightyellow">
                    <tr>
                        <th>Image</th>
                        <th *ngIf="showID">Property ID</th>
                        <th>Property Address</th>
                        <th>Listing Price</th>
                        <th>Available Date</th>
                        <th>Num of Bedrooms</th>
                        <th>Num of Bathrooms</th>
                        <th>Contact Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let house of houses">
                        <tr>
                            <td><img [src]="house.imageUrl" [alt]="house.id"></td>
                            <td *ngIf="showID">{{house.id}}</td>
                            <td>{{house.address}}</td>
                            <td>{{house.listingPrice | currency}}</td>
                            <td>{{house.availableDate | date}}</td>
                            <td>{{house.numOfBedroom}}</td>
                            <td>{{house.numOfBathroom}}</td>
                            <td><a href="tel:{{house.contactPhone}}">{{house.contactPhone | phone: 'US'}}</a></td>
                            <td> <button class="btn btn-primary" [disabled]="isDisabled">Disabled</button></td>
                            <td> <button class="btn btn-primary" disabled="{{isDisabled}}">Disabled</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>



    </div>
</div>