<div class="container">
  <div class="card-header"></div>
  <div class="card-body">
    <form [formGroup]="houseForm" (ngSubmit)="onSubmit()">
      <!-- House ID field -->
      <div class="form-group">
        <label for="id">ID</label>
        <input
          type="text"
          formControlName="id"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fields.id.errors }"
        />
        <div *ngIf="fields.id.invalid && fields.id.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.id.errors.required"
            >ID is required
          </small>
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.id.errors.idTaken"
            >ID is taken</small
          >
        </div>
      </div>

      <!-- Address field -->
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          formControlName="address"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fields.address.errors }"
        />
        <div *ngIf="fields.address.invalid && fields.address.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.address.errors.required"
            >Address is required
          </small>
        </div>
      </div>
      

      <!-- Description field -->
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          formControlName="description"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fields.description.errors }"
        />
        <div *ngIf="fields.description.invalid && fields.description.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.description.errors.required"
            >Description is required
          </small>
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.description.errors.minlength"
            >Description must be at least 10 characters</small
          >
        </div>
      </div>


      <!-- Listing price field -->
      <div class="form-group">
        <label for="listingPrice">Listing Price</label>
        <input
          type="text"
          formControlName="listingPrice"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fields.price.errors }"
        />
        <div *ngIf="fields.listingPrice.invalid && fields.listingPrice.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.listingPrice.errors.required"
            >Listing price is required
          </small>
        </div>
      </div>

      <!-- Available date field -->
      <div class="form-group">
        <label for="availableDate">Available Date</label>
        <input
          type="text"
          formControlName="availableDate"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fields.availableDate.errors }"
        />
        <div *ngIf="fields.availableDate.invalid && fields.availableDate.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.availableDate.errors.required"
            >Available date is required
          </small>
        </div>
      </div>

      <!-- Number of bedrooms field -->
      <div class="form-group">
        <label for="numOfBedroom">Number of Bedrooms</label>
        <input
          type="number"
          formControlName="numOfBedroom"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fields.numOfBedroom.errors }"
        />
        <div *ngIf="fields.numOfBedroom.invalid && fields.numOfBedroom.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.numOfBedroom.errors.required"
            >Number of bedrooms is required
          </small>
        </div>
      </div>

      <!-- Number of Bathrooms field -->
      <div class="form-group">
        <label for="numOfBathroom">Number of Bathrooms</label>
        <input
          type="number"
          formControlName="numOfBathroom"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fields.numOfBathroom.errors }"
        />
        <div *ngIf="fields.numOfBathroom.invalid && fields.numOfBathroom.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.numOfBathroom.errors.required"
            >Number of bathrooms is required
          </small>
        </div>
      </div>

      <!-- Contact phone number field -->
      <div class="form-group">
        <label for="contactPhone">Contact Phone</label>
        <input
          type="text"
          class="form-control"
          formControlName="contactPhone"
          [ngClass]="{ 'is-invalid': submitted && fields.contactPhone.errors }"
        />
        <div *ngIf="fields.contactPhone.invalid && fields.contactPhone.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.contactPhone.errors.required"
            >Contact phone is required
          </small>
        </div>
      </div>

      <!-- Image url field -->
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input
          type="text"
          class="form-control"
          formControlName="imageUrl"
          [ngClass]="{ 'is-invalid': submitted && fields.imageUrl.errors }"
        />
        <div *ngIf="fields.imageUrl.invalid && fields.imageUrl.touched">
          <small
            id="helpBlock"
            class="form-text"
            *ngIf="fields.imageUrl.errors.required"
            >Image URL is required
          </small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="houseForm.invalid">Submit</button>
    </form>
    <div>{{ diagnostic }}</div>
    <!-- <div>
      Hello
      {{ houseForm.value | json }}
    </div> -->
  </div>
</div>
